<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title th:text="${dish != null} ? 'Edit Dish' : 'Add New Dish'">Dish Form</title>
</head>
<body>

<h1 th:text="${dish != null} ? 'Edit Dish' : 'Add New Dish'">Dish Form</h1>

<form th:action="${dish != null} ? @{'/dishes/edit/' + ${dish.id}} : @{/dishes/add}" method="post">
    <div>
        <label for="dishId">Dish ID:</label>
        <input type="text" id="dishId" name="dishId" th:value="${dish != null} ? ${dish.dishId} : ''" required>
    </div>

    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" th:value="${dish != null} ? ${dish.name} : ''" required>
    </div>

    <div>
        <label for="cuisine">Cuisine:</label>
        <input type="text" id="cuisine" name="cuisine" th:value="${dish != null} ? ${dish.cuisine} : ''" required>
    </div>

    <div>
        <label for="preparationTime">Preparation Time (min):</label>
        <input type="number" id="preparationTime" name="preparationTime" th:value="${dish != null} ? ${dish.preparationTime} : ''" required>
    </div>

    <div>
        <label for="chef">Chef:</label>
        <select id="chef" name="chefId" required>
            <option th:each="chef : ${chefs}"
                    th:value="${chef.id}"
                    th:text="${chef.firstName} + ' ' + ${chef.lastName}"
                    th:selected="${dish != null} ? ${chef.id} == ${dish.chef.id} : false">
            </option>
        </select>
    </div>

    <div>
        <button type="submit" th:text="${dish != null} ? 'Update Dish' : 'Add Dish'">Submit</button>
        <a href="/dishes">Cancel</a>
    </div>
</form>

<div th:if="${#authorization.expression('isAuthenticated()')}">
    <a href="/logout">Logout</a>
</div>

</body>
</html>
